body {
	background-color: lightgrey;
	margin: 0;
	padding: 0;
}

article {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

.card {
	background-color: white;
	
	padding: 25px;
	margin: 30px 0;
}

button {
	border: none;
	
	padding: 8px 23px;
	margin-right: 8px;
	
	font-size: 16pt;
	
	color: white;
}

.img-holder {
	background-color: #424242;
}

img {
	width: 100%;
}

p {
	font-family: Arial, sans-serif;
	font-size: 12pt;
}

.red {
	background-color: #C2231A;
}

.blue {
	background-color: #3F6AFF;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	
	width: 100%;
	padding: 20px 0;
	
	background-color: #424242;
	
	color: white;
	
	text-align: right;
}

.menu {
	width: 700px;
	margin: 0 auto;
}

nav {
	display: inline-block;
	
	padding: 0 20px;
	
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}